.option-button {
	border-radius: 16px;
	box-shadow: 0px 2px 4px 3px rgba(53, 127, 238, 0.25);
	background-color: #FFFFFF;
	font-size: 1rem;
	text-align: left;
	border: 3px solid #FFFFFF;
	width: 100%;
	min-height: 66px;
	transition: 8ms;
	-webkit-tap-highlight-color: transparent;
	display: flex;
	align-items: center;
}

.option-button__option {
	color: var(--main-color);
	font-size: 20px;
	font-weight: 700;
	margin-right: 1rem;
}

.correct {
	border: 3px solid #28E621;
	color: #28E621
}

.wrong {
	border: 3px solid #ED738C;
	color: #ED738C;
}