.option-button {
	border-radius: 16px;
	box-shadow: 0px 4px 4px rgba(53, 127, 238, 0.25);
	background-color: #FFFFFF;
	font-size: 1rem;
	text-align: left;
	transition: 8ms;
}

.option-button__option {
	color: var(--main-color);
	font-size: 20px;
	font-weight: 700;
	margin-right: 1rem;
}