.header {
	background-color: var(--main-color);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	height: 284px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	padding: 2rem;
	padding-top: 69px;
	display: flex;
	flex-direction: column;
	gap: 42px;
	align-items: center;
	text-align: center;
}

.button-init {
	color: #FFFFFF;
	font-weight: 700;
	font-size: 20px;
	background-color: var(--main-color);
	box-shadow: 0px 4px 4px rgba(53, 127, 238, 0.25);
	transition: 0.3s;
	text-decoration: none;
	padding: 1rem;
	width: 100%;
	max-width: 296px;
	border-radius: 8px;
}

.button-init:hover {
	background-color: #5092f5;
}