.main {
	padding: 2rem;
	padding-top: 69px;
	display: flex;
	flex-direction: column;
	gap: 42px;
	align-items: center;
	text-align: center;
}

.button {
	width: 100%;
	max-width: 296px;
	padding: 1rem;
	background-color: var(--main-color);
	color: #FFFFFF;
	border-radius: 8px;
	text-decoration: none;
}